:root {
  --bg-color: white;
  --text-color: #000000;
  --page-color: white;
  --hello: #8e8d8a;
  --description: #0275d8;
  --name: #0275d8;
  --border-width: 1px;
}

[data-theme="dark"] {
  --bg-color: rgba(26, 32, 44, 255);
  --text-color: #ffffff;
  --page-color: rgba(26, 32, 44, 255);
  --description: #0275d8;
  --hello: #ffffff;
  --name: #0275d8;
  --border-width: 2px;
}

.App {
  background-color: var(--page-color);
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.wave {
  margin-top: 10rem;
}

.navbar .navname {
  font-size: x-large;
  margin-left: 20px;
  color: var(--text-color);
  font-weight: 500;
}
.navbar .navname:visited {
  color: var(--text-color);
}
.navbar .navname:hover {
  color: var(--name);
}

.navbar .mr-auto .link {
  margin-left: 20px;
  font-size: large;
  color: var(--text-color);
}
.navbar .mr-auto .link:visited {
  color: var(--text-color);
}
.navbar .mr-auto .link:hover {
  color: var(--name);
}

.dark {
  color: #8e8d8a;
  size: 40px;
}

.navbar {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 15px;
}
.text {
  color: var(--text-color);
}
.hello-img {
  margin-top: 10px;
  max-height: 250px;
}
.display-3 {
  color: var(--hello);
}

.lead {
  color: var(--description);
  font-size: xx-large;
  font-weight: 300;
}
.lead2 {
  color: var(--description);
}
.margintop {
  margin-top: 3rem;
}
code {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--name);
}
.hello {
  margin-top: 80px;
}
.nbcard {
  background-color: transparent;
  color: var(--text-color);
  padding: 10px;
  border: none;
}
.a {
  text-align: center;
  padding-left: 14px;
  padding-right: 14px;
  margin-right: 2rem;
}
.about-h {
  font-size: x-large;
}
.connect-img {
  padding-bottom: 9px;
  margin-top: 2rem;
  border-radius: 10px;
  /* height: 420px; */
}
strong,
.with {
  color: var(--name);
}
.skill-h {
  margin-top: 15px;
}
.skills-img {
  margin-left: 15px;
  margin-top: 80px;
  height: 150px;
  width: auto;
}
.skills-btn {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  border-width: var(--border-width);
  margin-bottom: 1rem;
}
.skills-btn {
  color: #8e8d8a;
}
.skill-txt {
  font-weight: bold;
  font-size: 30px;
  vertical-align: middle;
}
.skill-nbcard {
  color: #ffffff;
  margin-top: 10px;
  background-color: var(--name);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
}
.skill-nbcard:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
.exp {
  /* border-width: 1px; */
  /* border: 0.5px solid grey; */
  /* border-color: var(--name);
  background-color: transparent; */
  /* margin-right: 1rem; */
  /* padding: 1rem; */
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  color: var(--text-color);
  border: 1px solid transparent;
}
.txt-rotate {
  color: rgb(255, 101, 101);
}

.flip-card-front {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.sbtn {
  margin-top: 20px;
}
.Fi {
  background-color: transparent;
  border: 0.5px solid #0275d8;
  margin-right: 1rem;
}
.image {
  width: 98%;
}
.view {
  margin-right: 1rem;
}
.single {
  height: 22.3rem;
}
.ph {
  background-color: transparent;
  border-width: 1px;
  border-color: var(--text-color);
  color: var(--hello);
}

.contact-img {
  height: 150px;
  width: auto;
  margin-left: 35px;
}
.last {
  display: flex;
  /* margin-left: 20rem; */
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.contact-text {
  color: var(--text-color);
}
.footer-text {
  text-align: center;
  color: var(--text-color);
  margin-top: 30px;
}

.footer {
  margin-top: 0rem;
}
