#basic-navbar-nav {
  display: flex;
  justify-content: space-between;
}

.button:focus {
  outline: none;
}

.button {
  /* padding: 0; */
  border: none;
  background: none;
  border-radius: 50%;
  margin-right: 2rem;
}

.sun {
  color: goldenrod !important;
}

.sun:hover {
  color: grey !important;
}

.moon:hover {
  color: grey !important;
}
